:root{
    --principal:#00AFE5;
    --seconde:#F0C24D;
    --troisieme:#FFF;
    --optionel:#ebf0f4;
    
}  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/************************************** Section3 css **********************************************/

.objectif_content_flex{
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 0 auto !important;
    justify-items: center;
}
.content_numero_object{
    width: 50px !important;
    height: 30px !important;
    border: 3px solid var(--principal);
    display: flex;
    justify-content: center;
    align-items: center !important;
    place-content: center !important;
}
.content_main_midle_about3{
    border: 3px solid var(--seconde);
    background-color: var(--troisieme);
    width: 80px ;
    height: 80px;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}
.content_midle_about3{
    background-color: var(--principal);
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.content_flex_midle_el{
    display: flex;
    align-items: center;
    gap: 12px;
   
}
.icon_comment_figure{
    color: var(--troisieme);
    transform: rotate(-45deg);
    font-size: 50px;
}

.content_flex_midle_el_first, .content_flex_midle_el_thirth{
    border: 3px solid var(--seconde);
    color: var(--principal);
    width:20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    animation: rotate 5s linear infinite;
}
.top_content_first_objectif , .bottom_content_last_objectif{
    margin-left: 65px;
    border: 3px solid var(--seconde);
    color: var(--principal);
    width:20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
}
.top_content_first_objectif-icon , #top_content_first_objectif-icon{
  font-size: 10px;
}
.top_content_first_objectif{
    margin-bottom: 13px;
    animation: rotate 5s linear infinite;
}
.bottom_content_last_objectif{
    margin-top: 10px;
    animation: rotate 5s linear infinite;
}
.text_design_header, .baraka_content, 
.gate_content,
.content_numero_object1{
    
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-family: Arial, sans-serif; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.10); 
}

.content_numero_object1{
    color: var(--principal);
}
@keyframes rotate {
    from {
      transform: rotate(0deg); 
    }
    to {
      transform: rotate(360deg); 
    }
    }

    .card-ojectif-main{
      width: 50%;
      height: 400px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      padding: 30px;
    }
    .card-ojectif-main-line{
      width: 80px;
      border-bottom: 6px solid var(--principal);
      color: var(--principal);
    }
    .card-ojectif-main-line2{
      width: 80px;
      border-bottom: 6px solid var(--seconde);
      color: var(--principal);
    }
    .card-ojectif-main-line-titre{
      color: var(--principal);
    }
    .card-ojectif-main-line-titre2{
      color: var(--seconde);
    }
    .contain-main-card-obj{
      display:flex ;
      gap: 30px;
      
    }
    .content-flex-card-main-check{
      display: flex;
      justify-content: space-around;
    }
    .border-content-div-soulignement{
        border-bottom: 6px solid var(--principal);
        border-radius: 10px;
        margin-bottom: 35px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
.border-content-div-soulignement-text{
    color: var(--seconde);
    font-weight: bold;
}
.content_animation1{
   width:130px ; 
   height:130px ; 
}
.content_animation1-image {
    width: 100%;
    height: 100%;
}
.content_animation1-2{
    width:130px ; 
   height:150px ; 

}
.content_animation1-3{
    width:120px ; 
   height:170px ; 

}






@media screen and (max-width: 1235px) {
    #content-about-section-content{
        display: grid;
        grid-template-columns: 100% !important;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
        width: 83%;
    }
 
    /* test para */
    #content-about-section-content-text-content-text-para{
        width: 100% !important;
        overflow-x: hidden !important;
    }
    
}
@media screen and (max-width: 768px) {
    #content-one-card-one{
        display:flex;
        flex-direction: column;
        justify-content: center !important; 
        align-items: center !important;
        gap: 10rem;
        height: auto !important;

    }
    
}
@media screen and (max-width: 640px) {
    #content-one-card-one{
        display:flex;
        flex-wrap:wrap;
        justify-content: center; 
        gap: 10rem;
        /* border: 1px solid red !important; */
        height: auto !important;

    }
    
}
@media screen and (max-width: 418px) {
   
     /* image et content */
    #content-about-section-content-image-content-1{
        height:200px !important;
        width:200px !important;
    }
     #content-about-section-content-image-content-2{
        width: 100%;
        height: 100%;
        

    }
    
}